body {
    background-color: black;
    color:whitesmoke;
}

.formContainer{
    display: flex;
    flex-direction: column;
}

.customBtn{
    background-color: #8687E7;
    color:whitesmoke;
    font-weight: 600;
}

.customBtn:hover{
    background-color: #afb0df;
}

.labelInputField{
    margin-top: 3vh;
}

input {
    background-color: #979797;
}